{% extends 'padre.html' %}

{% block contenidoQueCambia %}

    <h1>Lista de Experiencias</h1>
    <ul>
        {% for Experiencia in lista_experiencias %}
            <li>
                {{ Experiencia.nickname}} - {{ Experiencia.fecha }} - {{ Experiencia.historia }} 
                
            </li>
            <div>
                {% if user.is_staff %}
                <form action="{% url 'EliminaExperiencia' Experiencia.id %}" method="POST">{% csrf_token %}<button type="submit"> Eliminar </button>

                </form> 
                {% endif %}
            </div>
        {% endfor %}
    </ul>
{% endblock contenidoQueCambia %}
