{% extends 'padre.html' %}

{% block contenidoQueCambia %}
  <h1>Lista de Videos</h1>
  <ul>
    {% for video in lista_videos %}
      <li>
        <h2>{{ video.nombre }}</h2>
        <p>Número: {{ video.numero }}</p>
        <p><a href="{{ video.enlace_youtube }}" target="_blank">Ver en YouTube</a></p>
        {% if video.imagen %}
          <img src="{{ video.imagen.url }}" alt="{{ video.nombre }}" style="width: 150px; height: auto;">
        {% endif %}
        {% if user.is_staff %}
        <div>
          <form action="{% url 'EliminaVideo' video.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Eliminar</button>
          </form>
          <form action="{% url 'EditaVideo' video.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Actualizar</button>
          </form>
        </div>
        {% endif %}
      </li>
    {% endfor %}
    
  </ul>
  {% if user.is_staff %}
  <p><a href="{% url 'VideoFormulario' %}">Agregar nuevo video</a></p>
  {% endif %}
{% endblock contenidoQueCambia %}

