    <!-- Nav -->
    <nav id="menu">
        <ul class="links">

            <li><a href="{% url 'Inicio' %}">Inicio</a></li>
            <li><a href="{% url 'ListaVideos' %}">Lista de videos</a></li>
            <li><a href="{% url 'ListaSuscriptores' %}">Lista de Suscriptores</a></li>
            <li><a href="{% url 'ListaExperiencias' %}">Lista de Experiencias</a></li>
            <li><a href="{% url 'VideoFormulario' %}">Formulario de videos</a></li>
            <li><a href="{% url 'SuscriptorFormulario' %}">Formulario de suscriptores</a></li>
            <li><a href="{% url 'ExperienciaFormulario' %}">Formulario de experiencias</a></li>
            <li><a href="{% url 'BusquedaVideo' %}">Busqueda de videos</a></li>
           


        </ul>
    </nav>